<a href="/trainers">Trainer Details</a>

<% @trainers.each do |trainer| %>
  <h1><%= trainer.name %></h1>

  <p>Age: <%= trainer.age %></p>
  <p>Hometown: <%= trainer.hometown %></p>
  <p>Gym Badges Collected: <%= trainer.gym_badges_collected %></p>
  <p>Pokédex Count: <%= trainer.pokedex_count %></p>
  <p>Has A Bike: <%= trainer.has_bike %></p>
<% end %>
