<a href="/trainers">Trainer Details</a>

<h1><%= @trainer.name %></h1>

<p><%= @trainer.age %></p>
<p><%= @trainer.hometown %></p>
<p><%= @trainer.gym_badges_collected %></p>
<p><%= @trainer.pokedex_count %></p>
<p><%= @trainer.has_bike %></p>
